@charset "UTF-8";

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Variáveis de Fonte */
    --fonte-titulo: 'Playfair Display', serif;
    --fonte-cursiva: 'Dancing Script', cursive;
    --fonte-paragrafo: 'Noto Sans', sans-serif;

    /* Variáveis de Cor */
    --cor-principal: #F3D5CA;
    --cor-principal-light: #FEDCDA;
    --cor-principal-dark: #DD9996;
    --cor-contraste: #7C5B4C;
    --cor-contraste-light: #BE8278;
}

html {
    /* Cada 1 rem sera considerado 10px */
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

/* Configurações de Reset */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}


/* Header (Cabeçalho) */
header {
    background: rgba(190, 130, 120, 0.91);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    position: fixed;
}

#cabecalho-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 0 0 100px;
}

#logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
}

#logo {
    width: 90%;
}

#navbar {
    display: flex;
    flex-direction: row;
    gap: 0;
}

#navbar > li {
    list-style: none;
    padding: 25px;
}

#navbar > li > a{
    font-size: 2.1rem;
    text-decoration: none;
    color: #ffffff;
}


/* Conteúdo Principal */
#apresentacao {
    height: 100vh;
    display: flex;
    align-items: center;
    color: white;
    background: url('../imagens/background-principal.jpg') no-repeat center center/cover;

    /* Overlay */
    background-color: rgba(254, 220, 218, 0.4);
    background-blend-mode: color;
}

#conteudo-apresentacao {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 100px;
}

#mensagem-apresentacao {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#mensagem-apresentacao > h2 {
    font-family: var(--fonte-cursiva);
    font-size: 6.6rem;
    font-weight: lighter;
    color: var(--cor-contraste);
    width: 100%;
}

#mensagem-apresentacao > h1 {
    font-family: var(--fonte-titulo);
    font-size: 16rem;
    margin-top: -25px;
    color: var(--cor-contraste);
    width: 100%;
}
