@charset "UTF-8";

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Variáveis de Fonte */
    --fonte-titulo: 'Playfair Display', serif;
    --fonte-cursiva: 'Dancing Script', cursive;
    --fonte-paragrafo: 'Noto Sans', sans-serif;

    /* Variáveis de Cor */
    --cor-principal: #F3D5CA;
    --cor-principal-light: #FEDCDA;
    --cor-principal-dark: #DD9996;
    --cor-contraste: #7C5B4C;
    --cor-contraste-light: #BE8278;
}

html {
    /* Cada 1 rem sera considerado 10px */
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

/* Configurações de Reset */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}


/* Header (Cabeçalho) */
header {
    background: rgba(190, 130, 120);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    top: 0;
    position: fixed;
    overflow: visible;
}

#cabecalho-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: inherit;
    padding: 0 50px 0 100px;
}

#logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
}

#logo {
    width: 90%;
}

#navbar {
    display: flex;
    flex-direction: row;
    gap: 0;
}

#navbar > .menu-option {
    list-style: none;
    padding: 25px;
}

#navbar > li > a{
    font-size: 2.1rem;
    text-decoration: none;
    color: #ffffff;
}


/* Conteúdo Principal */
#apresentacao {
    height: 91vh;
    display: flex;
    align-items: center;
    color: white;
    background: url('../imagens/background1366x663.jpg') no-repeat center center/cover;
    margin-top: 60px;

    /* Overlay */
    background-color: rgba(254, 220, 218, 0.4);
    background-blend-mode: color;
}

#conteudo-apresentacao {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 100px;
    margin-top: -25px;
}

#mensagem-apresentacao {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#mensagem-apresentacao > h2 {
    font-family: var(--fonte-cursiva);
    font-size: 6.6rem;
    font-weight: lighter;
    color: var(--cor-contraste);
    width: 100%;
}

#mensagem-apresentacao > h1 {
    font-family: var(--fonte-titulo);
    font-size: 16rem;
    margin-top: -25px;
    color: var(--cor-contraste);
    width: 100%;
}


#botao-apresentacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-decoration: none;

    font-family: var(--fonte-titulo);
    font-size: 3rem;
    color: var(--cor-contraste);

    background: #FFE8DF;

    width: fit-content;
    margin-top: 30px;
    padding: 15px 35px;

    border-radius: 30px;
    border: 2px solid var(--cor-contraste);
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.4);
}

#botao-apresentacao > svg {
    display: inline;
    padding-top: 3px;
    height: 30px;
}

/* Quem Somos */

#quem-somos-container {
    display: flex;
    width: 100%;
    height: 400px;
    background: white;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

#quem-somos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    max-width: 90%;
    max-width: 950px;
    width: 80%;
    height: inherit;
}

#foto-quem-somos {
    width: 300px;
    background: var(--cor-contraste);
    border-radius: 50%;
}

#texto-quem-somos {
    display: flex;
    flex-direction: column;
    line-height: 25px;
    gap: 30px;

    text-align: right;
    width: 500px;
}

#texto-quem-somos > h1 {
    font-size: 3.7rem;
    font-family: var(--fonte-titulo);
}

#texto-quem-somos > p {
    font-family: var(--fonte-paragrafo);
    font-size: 1.5rem;
}

/* Showcase Vestidos */
#vestidos-container {
    height: 1000px;
}