@charset "UTF-8";

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Variáveis de Fonte */
    --fonte-titulo: 'Playfair Display', serif;
    --fonte-cursiva: 'Dancing Script', cursive;
    --fonte-paragrafo: 'Noto Sans', sans-serif;

    /* Variáveis de Cor */
    --cor-principal: #F3D5CA;
    --cor-principal-light: #FEDCDA;
    --cor-principal-dark: #DD9996;
    --cor-contraste: #7C5B4C;
    --cor-contraste-light: #BE8278;
}

html {
    /* Cada 1 rem sera considerado 10px */
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

/* Configurações de Reset */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a {
    color: inherit;
}


/* Header (Cabeçalho) */
.navbar-custom {
    background-color: var(--cor-contraste-light);
}

.navbar-custom > a {
    color: white;
}
/* header {
    background: var(--cor-contraste-light);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    top: 0;
    position: sticky;
    border-bottom: 1px solid white;
}

#cabecalho-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: inherit;
    padding: 0 50px 0 100px;
}

#logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
}

#logo {
    width: 90%;
}

#navbar {
    display: flex;
    flex-direction: row;
    gap: 0;
}

#navbar > .menu-option {
    list-style: none;
    padding: 25px;
}

#navbar > li > a{
    font-size: 2.1rem;
    text-decoration: none;
    color: #ffffff;
} */

main {
    min-height: 90vh;
}

/* Rodapé */
footer {
    background-color: var(--cor-principal-light);
    padding: 10px;
    text-align: center;
    color: var(--cor-contraste);
    font-size: 1.3rem
}

footer a {
    font-weight: bold;
    font-style: italic;
}